################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProjectsManager.Application/obj/project.assets.json
/ProjectsManager.Application/obj/project.nuget.cache
/ProjectsManager.Application/obj/ProjectsManager.Application.csproj.nuget.dgspec.json
/ProjectsManager.Application/obj/ProjectsManager.Application.csproj.nuget.g.props
/ProjectsManager.Application/obj/project.packagespec.json
/ProjectsManager.Application/obj/rider.project.model.nuget.info
/ProjectsManager.Application/obj/rider.project.restore.info
/ProjectsManager.Application/obj/Debug/net7.0/ProjectsManager.Application.csproj.AssemblyReference.cache
/ProjectsManager.Application/obj/Debug/net7.0/ProjectsManager.Application.assets.cache
/ProjectsManager.Domain/obj/Debug/net7.0/ProjectsManager.Domain.AssemblyInfo.cs
/ProjectsManager.Domain/obj/Debug/net7.0/ProjectsManager.Domain.assets.cache
/ProjectsManager.Domain/obj/Debug/net7.0/ProjectsManager.Domain.csproj.AssemblyReference.cache
/ProjectsManager.Domain/obj/project.assets.json
/ProjectsManager.Domain/obj/project.nuget.cache
/ProjectsManager.Domain/obj/project.packagespec.json
/ProjectsManager.Domain/obj/ProjectsManager.Domain.csproj.nuget.dgspec.json
/ProjectsManager.Domain/obj/ProjectsManager.Domain.csproj.nuget.g.props
/ProjectsManager.Domain/obj/rider.project.model.nuget.info
/ProjectsManager.Domain/obj/rider.project.restore.info
/ProjectsManager.Infrastructure/obj/Debug/net7.0/ProjectsManager.Infrastructure.assets.cache
/ProjectsManager.WebApi/obj/Debug/net7.0/ProjectsManager.WebApi.csproj.AssemblyReference.cache
/ProjectsManager.WebApi/obj/rider.project.restore.info
/ProjectsManager.WebApi/obj/project.assets.json
/ProjectsManager.WebApi/obj/project.nuget.cache
/ProjectsManager.WebApi/obj/project.packagespec.json
/ProjectsManager.WebApi/obj/ProjectsManager.WebApi.csproj.nuget.dgspec.json
/ProjectsManager.WebApi/obj/ProjectsManager.WebApi.csproj.nuget.g.props
/ProjectsManager.WebApi/obj/rider.project.model.nuget.info
/ProjectsManager.WebApi/obj/Debug/net7.0/ProjectsManager.WebApi.assets.cache
/ProjectsManager.Infrastructure/obj/project.assets.json
/ProjectsManager.Infrastructure/obj/project.nuget.cache
/ProjectsManager.Infrastructure/obj/project.packagespec.json
/ProjectsManager.Infrastructure/obj/ProjectsManager.Infrastructure.csproj.nuget.dgspec.json
/ProjectsManager.Infrastructure/obj/ProjectsManager.Infrastructure.csproj.nuget.g.props
/ProjectsManager.Infrastructure/obj/rider.project.model.nuget.info
/ProjectsManager.Infrastructure/obj/rider.project.restore.info
/ProjectsManager.Infrastructure/obj/Debug/net7.0/ProjectsManager.Infrastructure.csproj.AssemblyReference.cache
/ProjectsManager.Domain/bin/Debug/net7.0
/ProjectsManager.Domain/obj/Debug/net7.0
/ProjectsManager.Infrastructure
/ProjectsManager.WebApi
